
.uppy-Dashboard-inner{
   background-color: rgba(255, 255, 255, 0.525);
   border: none;
   
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload{
    width: 50%;
    margin: 0 auto;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actions{
    background-color: rgb(255, 255, 255);
    
}
.uppy-Dashboard-browse{
    all: unset;
    height: 150px;
    width: 90%;
    box-sizing: border-box;
    border: none !important;
    color: blue;
    &:hover{
        border: none;
    }
    &::before{
        content: "\e09a";
  display: inline-block;
  margin-right: 0.5rem;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    }
}