.aside{
    h1{
        color: rgba(0, 0, 0, 0.664);
    }
    background-color: var(--bg-purple);
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2rem;
    &__use-cases,&__pinecode-indexes{
        border-left: var(--border);
        border-bottom: var(--border);
        padding-left: 1rem;
        padding-top: 20px;
        width: 90%;
        padding-bottom: 20px;
        h2{
            color: var(--heading-clr);
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                
                a{
                    
                    text-decoration: none;
                    color: var(--link-clr);
                }
            }
        }
    }
    &__filesupload-btn{
        padding-top: 2rem;
        border-left: var(--border);
        padding-left: 1rem;
       
        flex-grow: 1;
    }
}